@media only screen and (max-width:688px) {

    /* for mobile device */

    .section2-part2,
    .sec3-part1,
    .sec3-part2,
    .section4-part2,
    .section5-part1,
    .section5-part2,
    .section6-part1,
    .section6-part2,
    .section-container-1,
    .section7-heading,
    .footer,
    .div-last {
        display: none;
    }

    header::after {
        height: 430px;
    }

    header {
        width: 100%;

    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 95%;
        align-items: flex-start;
    }

    .navbar ul {
        padding: 0px;
        width: 95%;
    }

    .navbar a {
        padding: 6px;
    }

    .banner-section {
        width: 95%;
        margin-top: 20px;
    }

    .title {
        font-size: 2rem;
    }

    .title-p {
        font-size: 1rem;
    }

    main {
        width: 100%;
        position: absolute;
        top: 430px;
    }

    .section-1 {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .section-1-part {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .section-1-img {
        width: 100%;
        height: 37vh;
    }

    .section-1-details {
        width: 100%;
        padding: 30px 10px;
    }

    .sec1-part2-part {
        width: 110%;
        margin-top: 20px;
    }

    .section-container-2 {
        display: none;
    }



    /* header,
    .nav,
    .banner-section,
    .section-container-2,
    .section2-part1,
    .section2-part2,
    .sec3-part1,
    .sec3-part2,
    .section4-part2,
    .section5-part1,
    .section5-part2,
    .section6-part1,
    .section6-part2,
    .section-container-1,
    .section7-heading,
    .section-1-part,
    .footer,
    .div-last {
        display: none;
    } */